.App {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-self: center;
}

.SetupForm-Control {
  margin-top: 16px;
}

.Results table {
  border-spacing: 0;
  border-collapse: collapse;
}

.Results table th,
.Results table td {
  border: solid 1px black;
}

.Footnotes {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.Footnotes dd {
  margin-left: 8px;
}