.App {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-self: center;
}

.SetupForm-Control {
  margin-top: 16px;
}

.SetupForm-ButtonRow {
  margin-top: 16px;
  display: flex;
}

.SetupForm-ButtonRow button {
  flex: 1;
  height: 50px;
  font-size: 24px;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: bold;
}

.SetupForm-ButtonRow button.button-primary {
  background: #007acc;
}

.SetupForm-ButtonRow button.button-primary:hover {
  background: #3393d3;
}

.SetupForm-ButtonRow button.button-danger {
  background: #eb1d0f;
}

.SetupForm-ButtonRow button.button-danger:hover {
  background: #f63a2d;
}

.Results table {
  border-spacing: 0;
  border-collapse: collapse;
}

.Results table th,
.Results table td {
  border: solid 1px black;
}

.Footnotes {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.Footnotes dd {
  margin-left: 8px;
}